@use './variable'as style;

@mixin flex_style($min_height,$justify,$align,$direction){
   display: flex;
   min-height:$min_height;
   justify-content: $justify;
   align-items: $align;
   $flex-direction:$direction;
   flex-wrap:wrap;
}

@mixin btn_style{
   font-size: style.$font_p;
   border-radius: style.$border_radius;
   background:style.$orange_color;
   color:style.$white_color;
   padding: .5rem 1.5rem;
   &:hover{
      background: transparent;
      border:style.$border_2;;
      color:style.$black_blue

   }
}
@mixin heading_style($font,$weight,$color){
   font-size: $font;
   font-weight: $weight;
   color: $color;
    
}

@mixin para_sm(){
    font-size:12px!important;
    font-weight: 400!important;
    color:#343661!important;
    
}
@mixin para_base(){
   font-size:14px!important;
   font-weight: 400!important;
   color:#343661!important;
   
}


@mixin head_sm(){
   font-size: 24px;
   font-weight: 700px;
   color:#343661;;
}
@mixin head_md(){
   font-size: 36px;
   font-weight: 700px;
   color:#343661;;
}


@mixin head_lg(){
   font-size: 48px;
   font-weight: 700px;
   color:#343661;;
}