
$font_h1:46px;
$font_h2:36px;
$font_h3:28px;
$font_h4:24px;
$font_h6:20px;
$font_p:14px;
$bold:700;
$bold_semi:600;
$bold_md:500;
$bold_sm:400;
$white_color:#FFFFFF;
$white_deep:#F7F7F7;
$white_light:#ececec;
$black_blue:#343661;
$black_3:#202028;
$pink_color:#F6DED3;
$orange_color:#F38D61;
$border_radius:50px;
$border_1:1px solid #FFFFFF;
$border_2:2px solid #F38D61;
$border_3:1px solid #343661;
$transition_1:.3s linear;
$transition_2:.5s linear;
 
 
 